<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-resource.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-route.min.js"></script>

<script type="text/javascript" src="/javascripts/init.js"></script>
<script type="text/javascript" src="/javascripts/controllers.js"></script>
<script type="text/javascript" src="/javascripts/services.js"></script>
<script type="text/javascript" src="/javascripts/filters.js"></script>
<script type="text/javascript" src="/javascripts/app.js"></script>
