<section ng-controller="Teacher">
  {% raw %}

  <div class="container">
    <h2 class='text-center'>Student: Search for Available Teachers</h2>
    <div class="clearfix"></div>
    <hr class="break" />
    <!-- select day via dropdown -->

    <div class="button-nav container">
      <div class="btn-group div-left">
        <!-- ng-click="sortByDay(this.date)" -->
        <button ng-repeat="date in weekdates" ng-show="!$first" type="button" class="btn btn-default">{{ weekdates[$index] | date: 'M.dd' }}</button>
      </div>
      <div class="btn-group div-right">
        <button type="button" ng-click="" class="btn btn-default">Morning</button>
        <button type="button" ng-click="" class="btn btn-default">Afternoon</button>
        <button type="button" ng-click="" class="btn btn-default">Evening</button>
      </div>
    </div>

    <br />
    <section ng-controller="Student">
      <div class="container search-results text-center">
        <form class="form-inline" ng-submit="submit()">
          <div class="form-group">
            <input class='form-control' type: "email" placeholder="Email" ng-model="form.studentEmail" name="email">
          </div>
          <button class='btn btn-success' type="submit">Submit</button> <h3 class='banner-inline'>{{banner}}</h3>
        </form>
      </div>

      <div ng-show="displayResults" class="search-results container">
        <!-- {{dataset.bystudent}} -->
        <table class="table table-striped">
          <thead>
          <th>Date</th><th>Time</th><th>Teacher</th>
          </thead>
          <tbody>
          <tr ng-repeat="confirmed in dataset.bystudent.student.confirmed">
            <!-- <td ng-repeat="scheduled in dataset.bystudent.confirmed">{{scheduled}}</td> -->
            <td>{{ confirmed.date | date: 'MMMM dd' }}</td>
            <td>{{ confirmed.start }} - {{ confirmed.end }}</td>
            <td>{{ dataset.bystudent.teachers[$index] }}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="clearfix"></div>

      <div ng-hide="displayResults" class="search-results">
        <div ng-repeat="teacher in dataset.byteacher | orderBy:'email'">
          <div class="teacher-timeslot">
            <h3>{{ teacher.email }}</h3> <!-- hide if teacher has zero timeslots open -->
            <ul>
              <!-- ng-class="{'selected': isSelected}" -->
              <li ng-show='timeslot.open' id="{{ teacher.timeslotObj[$index].date }}" ng-repeat="timeslot in teacher.timeslotObj">
                <div class="timeslot-date"><h4>{{ teacher.timeslotObj[$index].date | date: 'M.dd'}}</h4></div>
                 <!-- | date: 'MMMM d' -->
                <div class="timeslot-time"><h4>Time: {{ teacher.timeslotObj[$index].start }} -
                {{ teacher.timeslotObj[$index].end }}</h4></div>
<!--                 <div class="timeslot-time"><h4>Open: {{ teacher.timeslotObj[$index].open }}</h4></div> -->
                <!-- <button class="btn btn-warning timeslot-btn btn-sm" ng-click="select(this.timeslot)">Request</button> -->
                <div class="checkbox-schedule"><input type="checkbox" name="checkedTimes" ng-click="toggleSelect(this.timeslot)"></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
  {% endraw %}
</section>
