<!doctype HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OKpanda Scheduler</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!--     <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" />
  </head>
  <body>
      <header>
        <div class="container">
          <div class="header-hero">
            <a href="#">
              <img class="img-center" alt="OKpanda Logo" src="/images/logo-large.png">
            </a>
          </div>
        </div>
      </header>

      <hr class="break" />

      <div class="main">
        <div class="container">
          <div class="hero">
            <div class="cta-left text-center"><h1><a href="/teacher">Teacher</a></h2></div>
            <div class="cta-right text-center"><h1><a href="/student">Student</a></h2></div>
          </div>
        </div>
      </div>

      <!-- <hr class="break" /> -->

      <footer>
        <div class="container">
        </div>
      </footer>
  </body>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-resource.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-route.min.js"></script>

  <script type="text/javascript" src="/javascripts/init.js"></script>
  <script type="text/javascript" src="/javascripts/controllers.js"></script>
  <script type="text/javascript" src="/javascripts/services.js"></script>
  <script type="text/javascript" src="/javascripts/filters.js"></script>
  <script type="text/javascript" src="/javascripts/app.js"></script>


</html>
