<!doctype HTML>
<html ng-app="teacher">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OKpanda</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/user.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header-hero">
          <a href="/">
            <img alt="OKpanda Logo" src="/images/logo-large.png">
          </a>
        </div>
      </div>
    </header>

    {% block bodyContent %}


    {% endblock %}

    <footer class="footer">
      <div class="container">
      </div>
    </footer>
  </body>

  <div ng-include="'views/partials/scripts.html'"></div>

</html>
