.header-hero {
  margin: 10px 0 10px 0;
}

.header-hero img {
  width: 15%;
  float: left;
}

.button-nav {
  width: 60%;
}

ol, ul, li {
  list-style-type: none
}

.timeslot-date {
  display: inline-block;
}

.timeslot-time {
  display: inline-block;
}

.timeslot-btn {
  vertical-align: middle;
  margin-top: 2px;
  float: right;
}

.search-results {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.banner-inline {
  display: inline-block;
  color: green;
}

.selected {
  /*text-decoration: line-through;*/
  background-color: #EC971F;
  /*border-color: gray;*/
  /*color:white;*/
}

.display-results {
  width: 70%;
}

.checkbox-schedule {
  /*height: 100%;*/
  float: right;
  padding-top: 7px;
  vertical-align: middle;
  display: block;
  width: 50%;
}
